@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');


#root {
font-family: 'Roboto', sans-serif;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    background-color: #F5F5F5;
    color: #0F1626;
    margin-Top: 1vh;
}